{% extends 'base.html' %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block container %}
<div class="container pt-4">
    <div class="card-columns mx-auto d-flex justify-content-center col-12 mt-4">
        <div class="card text-center col-10" style="width: 18rem;">
            <div class="card-header bg-transparent"><h5>{{ post.title|title }}</h5></div>
            <div class="card-body">
                <p class="card-text">{{ post.description | safe }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}