{% extends 'base_templ.html' %}

{% block title %}
    Температура в городе
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-5 offset-1">
				<h1>Погодная инфа в вашем городе</h1>
				<form action="" method="post">
					{% csrf_token %}
					<label for="city">Город:</label>
					{{ form.name }}
					<input type="submit" name="send" value="Добавить" class="mt-2 btn btn-success">
				</form>
			</div>
			<div class="col-4 offset-1">
				<h1>Инфо: </h1>
				{% for info in all_info %}
				<div class="alert alert-success">
					<form action="" method="post">
						{% csrf_token %}
						<button type="submit" class="close" value="{{info.city}}" data-dismiss="alert" aria-label="Close" name="mybutton">
							<span aria-hidden="true">&times;</span>
						</button>
					</form>
					<div class="row">
						<div class="col-8">
							<b>Город: </b> {{info.city}} <br>
							<b>Температура: </b> {{info.temp}}<sup>o</sup><br>
						</div>
						<div class="col-2 offset-1">
							<img src="http://openweathermap.org/img/w/{{info.icon}}.png" alt="Фото погоды" class="ing-thumbnail">
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}

